body {
  margin: 0;
  padding: 0;
}

#container {
  background-image: url('./record.png');
  background-repeat: repeat;
  height: 150vw;
}

.headline {
  background-color: navy;
  color: white;
  text-align: center;
}

.bodytext {
  background-color: lightgrey;
  padding: 1em;
}