body {
  margin: 0;
}

#container {
  background-image: url('./record.png');
  background-repeat: repeat;
  height: 150vw;
  font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}

.text {
  margin: 0;
  padding: 0.2rem;
}

.headline {
  background-color: navy;
  color: white;
  text-align: center;
  margin: 10px 0;
  padding: 10px 0 15px 0;
}

.bodytext {
  background-color: lightgrey;
  padding: 1em;
  line-height: 1.3rem;
  font-size: 18px;
}

.indent {
  padding: 0.3rem 5vw;
}