body {
  margin: 0;
  background-image: url('./record.png');
  background-repeat: repeat;
}

header {
  background-color: navy;
  color: white;
  text-align: center;
}

main {
  background-color: lightgrey;
  padding: 1em;
}